extends layout

block content
  .jumbotron
    h1 Are you ready for some translation action!?
    form.form
      .form-group
        h2 Which language do you want to study?
        select.form-control
          option(value="spa") Spanish 
          option(value="cht") Chinese 
          option(value="fra") French

      button.btn.btn-lg Go!

